<div class="pages white paralax page-interests" id="page-interests">
      <div class="overlay"></div>
      <div class="container">
         <!-- Header -->
        <header>
            <h4 class="line-divider">Interests</h4>
            <h1>What I'm Interested In</h1>
            <div class="row">
              <div class="span8 offset2">
                <p>
                  Outside of programming, I've very interested in all things outdoors. I enjoy walking around and exploring my current hometown of New York City, taking in the cultural and social diversity that's omnipresent.
                </p>
              </div>
            </div>
        </header>
         <!-- End Header -->

         <!-- Article -->
        <article>
          <!-- Features blocks -->
          <div class="row-fluid">
            <div class="span4 center">
              <%# image_tag "pages/features/rocket28.svg", alt: "Backpacking", class: "ico-interests", height: "70", width: "70" %>
              <%= icon('tree fa-5x') %>
              <h5>Backpacking</h5>
              <p class="smallFontBy08 cutBy10">Denali National Park, Outer Banks, the Quill volcano on the island of Statia, and the Milford Sound in New Zealand rank among my favorite backpacking expeditions.</p>
            </div>
            <div class="span4 center">
              <%= icon('globe fa-5x') %>
              <%# image_tag "pages/features/globe14.svg", alt: "Globe", class: "ico-interests", height: "70", width: "70" %>
              <h5>Traveling</h5>
              <p class="smallFontBy08 cutBy10">London, Paris, San Francisco, Seattle, Normandy, Queenstown (NZ), Sydney (AU) are among my favorite cities to travel to.</p>
            </div>
            <div class="span4 center">
              <%= icon('book fa-5x') %>
              <h5>Reading</h5>
              <p class="smallFontBy08 cutBy10">Some of my favorite titles include <i>Norweigian Wood</i>, <i>The Time Traveler's Wife</i>, <i>From Zero to One</i>, and <i>Rework</i>.</p>
            </div>
          </div>
          <!-- Testemonials -->
          <div class="row-fluid">
            <div class="span8 offset2">
              <div class="quote center">
                <div id="quote-slider" class="slide">
                    <!-- Carousel items -->
                  <div class="carousel-inner">
                    <div class="active item">
                        Happiness is not something that we find. It's something that we make. What's the secret to happiness in general? Try.
                        <h5>Bruce Feiler</h5>
                    </div>
                    <div class="item">
                        But all the magic I have known, I have had to make myself.
                        <h5>Shel Silverstein</h5>
                    </div>
                    <div class="item">
                        Keep your eyes on the stars, and your feet on the ground.
                        <h5>Theodore Roosevelt</h5>
                    </div>
                  </div>
                  <!-- Carousel indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#quote-slider" data-slide-to="0" class="active"></li>
                    <li data-target="#quote-slider" data-slide-to="1"></li>
                    <li data-target="#quote-slider" data-slide-to="2"></li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </article>
        <!-- End Article -->
      </div>
  </div>
