<div class="pages page-work" id="page-work">
  <div class="container">
    <!-- Header -->
    <header>
    <h4 class="line-divider">Work</h4>
    <!-- Article -->
    <article>
      <ul class="thumbnails plugin-filter-elements portfolio-items">
        <li class="span12 flatiron">
          <a href="http://www.flatironschool.com/" target="_blank" data-destination="portfolio-items" data-insert="before">
            <%= image_tag "https://s3.amazonaws.com/irm-logo/flatiron_logo.png", alt: "Flatiron" %>
          </a>
        </li>
      </ul>
    </article>
    <!-- End Article -->
    <!-- Short desciption about Work in general -->
    <div class="row work-description">
      <div class="span8 offset2">
        <h2>Instructor, Web Development Immersive</h2>
        <p>
          Initially began as a Junior Developer in the Labs division of Flatiron School, and am now working as an Instructor for the NYC Web Development Immersive program at Flatiron's Manhattan office.
        </p>
      </div>
    </div>
  </div>
</div>
