<div class="pages page-work" id="page-work">
  <div class="container">
    <!-- Header -->
    <header>
    <h4 class="line-divider">Work</h4>
    <!-- Article -->
    <article>
      <ul class="thumbnails plugin-filter-elements portfolio-items">
        <li class="span12 flatiron">
          <a href="http://www.percolate.com/" target="_blank" data-destination="portfolio-items" data-insert="before">
            <%= image_tag "https://s3.amazonaws.com/irm-logo/percolate/Percolate_logo_orange.png", alt: "Percolate" %>
          </a>
        </li>
      </ul>
    </article>
    <!-- End Article -->
    <!-- Short desciption about Work in general -->
    <div class="row work-description">
      <div class="span8 offset2">
        <h2>Engineer, Backend Engineering</h2>
        <p>
        I am currently working on building out the product with the Backend Engineering team at Percolate. At Percolate, our vision is to create technology that builds the world’s best brands. Our mission is to be the <strong>System of Record for Marketing</strong>. Find out more at <a href="http://percolate.com/story">Percolate's website</a>.
        </p>
      </div>
    </div>
  </div>
</div>
